<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Woof</title>
    <link rel="shortcut icon" href="dogImages/favicon.png" type="image/png">
    <link rel="stylesheet" href="stylesheets/dogs.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha512-9BwLAVqqt6oFdXohPLuNHxhx36BVj5uGSGmizkmGkgl3uMSgNalKc/smum+GJU/TTP0jy0+ruwC3xNAk3F759A=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
</head>

<body>
    <nav class="nav">
        <div class="logo">
            <img src="dogImages/logo.png" alt="logo">
            <h2>woof</h2>
        </div>
        <ul class="nav-bar">
            <li class="nav-links"><a href="/">home</a></li>
            <li class="nav-links"><a href="/#about">About</a></li>
            <li class="nav-links"><a href="/placeAdoption">Place For Adoption</a></li>
            <li class="nav-links"><a href="/#contact">contact</a></li>
        </ul>
        <div class="hamburger">
          <i class="fas fa-bars fa-4x" style="color: white;"></i>
        </div>
    </nav>

    <div class="card-holder">
      {{range .dogs}}
            <div class="card">
                <div class="image-container">
                    <img src={{.Image}} alt="dog image">
                </div>
                <div class="text-container">
                    <p class="dog-breed">{{.Breed}}</p>
                    <h2 class="dog-name">{{.Name}}, {{.Gender}}</h2>
                    <p class="address"><i class="fas fa-map-marker-alt"></i> Mumbai, Maharashtra</p>
                    <a href="/dog/{{.ID}}"><button class="btn" type="button">Read More</button></a>
                </div>
            </div>
            {{end}}
    </div>


    <footer class="main-footer">
        <div class="footer-parent">
            <div class="footer-child footer-logo">
                <img src="dogImages/logo.png" alt="logo" id="logo">
                <h1>woof</h1>
                <h2 style="font-size:25px;" class="social-p">Around the Web</h2>
                <ul class="social" id="social">
                    <li><a href="#" class="social-links"><i class="fab fa-facebook-f fa-2x"></i></a></li>
                    <li><a href="#" class="social-links"><i class="fab fa-instagram fa-2x"></i></a></li>
                    <li><a href="#" class="social-links"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
                    <li><a href="#" class="social-links"><i class="fab fa-twitter fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="footer-child">
                <h2 class="contact-head">Contact</h2>
                <div class="contact-child">
                    <h3><i class="fas fa-map-marker-alt"></i> Address</h3>
                    <p>B-203, Tower 38, NRI Complex, Seawoods, Nerul, Navi Mumbai-400706</p>
                </div>
                <div class="contact-child">
                    <h3><i class="fas fa-phone"></i> Phone</h3>
                    <p>+91 9669699669</p>
                </div>
                <div class="contact-child">
                    <h3><i class="far fa-envelope"></i> Email</h3>
                    <p>woofofficial@example.com</p>
                </div>
            </div>
        </div>
        <p class="copyright"><span>&copy; </span>Copyright 2020, woof | All Rights Reserved</p>
    </footer>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 500,
        });
    </script>
    <script src="script/dogs.js"></script>
</body>

</html>
